<html>
	<head>
		<title>Sub-let</title>
		<link href="static/css/bootstrap.css" rel="stylesheet">
		<link href="static/css/sub-let.css" rel="stylesheet">
	</head>	

	<body class="Site">
		
		<header class="landing-header">
	
			<div class="header-wrapper text-center">
				<div class="header-content">	
					<h1 class="title-text">Sub-Let</h1>
					<p class="lead">Think you might be living in sub-standard housing?</p>
					<p class="lead">Find out now.</p>

					<input type="text" class="input-lg form-control" placeholder="123 Foobar Ave"></input>
					<button type="button" class="btn btn-lg btn-default">Search</button>
				</div>
			</div>

		</header>

		<main class="Site-content">
			
			<section class="content-block">
				
				<div class="col-md-4 text-center tri-wrapper">
					<h1>Free</h1>
					<p class="tri-copy">This service does not cost you anything. In the event that a problem is discovered - and somebody has to pay - you will be free from financial responsibility.</p>
				</div>
				<div class="col-md-4 text-center tri-wrapper">
					<h1>Anonymous</h1>
					<p class="tri-copy">We have helped many people escape bad living situations when they thought there was no alternative. Your case will be handled with care with as little inconvenience to you as possibe</p>
				</div>
				<div class="col-md-4 text-center tri-wrapper">
					<h1>Open</h1>
					<p class="tri-copy">This is an open source project by the city of Philadelphia and Code for Philly. It was built only with your interestest in mind - and if you dont believe us, you can check the project out yourself.</p>
				</div>

			</section>
			<section class="content-block">
				
				<div class="about-wrapper">

					<div class="col-md-5">
				
						<h1>About Sub-Let</h1>
						
					</div>

					<div class="col-md-7">
						
						<p>Sub-let is the product of the City as a Service Hackathon (CaaSH) put on by Code for Philly and hosted at Curalate.</p>

						<p>Teams were paired with representatives from different offices within the government of the City. A lot of the City's data was opened for this event and remains open now.</p>

						<p>The team that worked on Sub-Let is still active in the Code for Philly commuinty, so drop us a line some time if you have something to say about it.</p>

					</div>
				</div>

			</section>
			<section class="content-block"></section>

		</main>
		<footer>
			<p>This project has some stuff you should know about it.</p>
			<p>Be sure to keep it real at all times.</p>
		</footer>

	</body>

	<script src="static/js/jquery-2.2.2.min.js"></script>
	<script src="static/js/bootstrap.js"></script>

</html>