<html>
	<head>
		<title>Sub-let</title>
		<link href="static/css/bootstrap.css" rel="stylesheet">
		<link href="static/css/sub-let.css" rel="stylesheet">
	</head>	

	<body class="Site">
		
		<header class="landing-header text-center">
	
			<div class="header-content">			
				<h1 class="title-text">Sub-Let<h1>
			</div>

		</header>
		<main class="Site-content">
			
			<section class="content-block"></section>
			<section class="content-block"></section>
			<section class="content-block"></section>

		</main>
		<footer></footer>

	</body>


</html>