.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
  background-color: #404040;
}

.landing-header {
	padding-top: 20px;
	padding-bottom: 20px;
	background: linear-gradient(to right, #ff3333, #ff9933);
}

.header-wrapper {
	display: flex;
  	align-items: center;
  	justify-content: center;
  	min-height: 150px;
}

.header-content {

}

.title-text {
	font-weight: bold;
	font-size: 64px;
}

.title-copy {
	margin-bottom: 20px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
}

.header-logo {
	display: block;
	background-image: url("../img/fist-logo.jpg");
}

.content-block {
	display: block;
}